@page "/counterpartylist"
@using BlazorCookies.Shared.Models
@inject HttpClient Http



<h1>alertmes</h1>


@if ((counterpartylist == null) || (counterpartyadress==null))
{
    <p><em>Loading...</em></p>
}
else
{
<Table TableItem="CounterpartyData" Items="counterpartylist" PageSize="15"  RowClickAction="@(x => { ClickID(x); })">
    <Column TableItem="CounterpartyData" Title="Id" Field="@(x => x.EDRPOU)" Sortable="true" Filterable="true" Width="10%"  />
    <Column TableItem="CounterpartyData" Title="First Name" Field="@(x => x.FirstName)" Sortable="true" Filterable="true" Width="20%" />
    <Column TableItem="CounterpartyData" Title="Last Name" Field="@(x => x.LastName)" Sortable="true" Filterable="true" Width="20%" />
    <Column TableItem="CounterpartyData" Title="Email" Field="@(x => x.Description)" Sortable="true" Filterable="true" Width="20%"></Column>
    <Column TableItem="CounterpartyData" Title="City" Field="@(x => x.City)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="CounterpartyData" Title="Ref" Field="@(x => x.Ref)" Sortable="true" Filterable="true" Width="10%">
        <Template>
            <input type="button" @bind-value="@context.Ref" class="btn btn-primary" onclick="(){ @alertmes = @context.Ref}" />
        </Template>
    </Column> />
    <Column TableItem="CounterpartyData" Title="MiddleName Date" Field="@(x => x.MiddleName)" Sortable="true" Width="10%">
    </Column>
    <DetailTemplate TableItem="CounterpartyData" >

        <Table TableItem="CounterpartyAdresData" Items="counterpartyadress" PageSize="15" >
            <Column TableItem="CounterpartyAdresData" Title="Id" Field="@(x => x.Ref)" Sortable="true" Filterable="true" Width="10%" />
            <Column TableItem="CounterpartyAdresData" Title="First Name" Field="@(x => x.Description)" Sortable="true" Filterable="true" Width="20%" />
            <Column TableItem="CounterpartyAdresData" Title="Last Name" Field="@(x => x.CityDescription)" Sortable="true" Filterable="true" Width="20%" />

            <Column TableItem="CounterpartyAdresData" Title="Confirmed" Field="@(x => x.BuildingDescription)" Sortable="true" Filterable="true" Width="10%" />
            <Column TableItem="CounterpartyAdresData" Title="Price" Field="@(x => x.AddressName)" Sortable="true" Filterable="true" Width="10%" />

            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </DetailTemplate>

    <Pager ShowPageNumber="true" ShowTotalCount="true" />

</Table>
}


@code {
    private CounterpartyData[] counterpartylist;
    private CounterpartyAdresData[] counterpartyadress, tempadr;
    private ContactPersonCounterpartyData[] contactPersonCounterpartyData, tempcontpers;
    public string dref;
    private bool hover = true;
    private HashSet<CounterpartyData> selectedItems = new HashSet<CounterpartyData>();
    private HashSet<CounterpartyAdresData> selectedAdresItems = new HashSet<CounterpartyAdresData>();
    private HashSet<ContactPersonCounterpartyData> selectedPersonItems = new HashSet<ContactPersonCounterpartyData>();
    private string searchString = "ЕТЦ";

    private string alertmes = "-";

    protected override async Task OnInitializedAsync()
    {
        // counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty");041ff71e-93fb-11eb-8513-b88303659df5
        counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty");
        string aref = "518d91f5-3de2-11ea-9937-005056881c6b";
        counterpartyadress = await Http.GetFromJsonAsync<CounterpartyAdresData[]>("counterpartyadres/" + aref);
        //if (tempadr != null)
        //{
        //    counterpartyadress = tempadr;
        //}
        //else
        //{
        //    alertmes = " counterpartyadress  =  null  ";
        //}

    }
    protected async Task OnSearch(string text)
    {
        searchString = text;
        counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty/" + text);
        //table.ReloadServerData();
    }
    // protected async Task OnViewDetail(string aref)

    //{
    //if (aref == "")
    //{
    //    return;
    //}
    //alertmes = String.Format("ref{0}", aref);
    //tempadr = await Http.GetFromJsonAsync<CounterpartyAdresData[]>("counterpartyadres/" + aref);
    ////if (tempadr != null)
    //{
    //    counterpartyadress = tempadr;
    //}
    //else
    //{
    //    alertmes = " counterpartyadress  =  null  ";
    //}
    //// alertmes = String.Format("Адреса{0}  ref{1}   Адресов{2}", name, aref, counterpartyadress.Count());
    //tempcontpers = await Http.GetFromJsonAsync<ContactPersonCounterpartyData[]>("contactpersoncounterparty/" + aref);
    //if (tempcontpers != null)
    //{
    //    contactPersonCounterpartyData = tempcontpers;
    //}




    // }
    // RowClickAction="@(x => { ClickID(x); })"

    protected void ClickID(CounterpartyData ID)
    {
        //if (ID == null)
        //{
        //    alertmes = "Nodata";
        //}
        //else
        //{
        //    alertmes = ID.Ref;
        //}

        alertmes = "===============================================================================================";

    }
    protected void onClick(string id)
    {
        alertmes = id;

    }
}
