@page "/counterpartylist"
@using BlazorCookies.Shared
@inject HttpClient Http



<h1>Counterparty</h1>



@if (counterpartylist == null)
{
    <p><em>Loading...</em></p>
}
else
{
<MudTable Items="@counterpartylist" MultiSelection="false" @bind-SelectedItems="selectedItems" Hover="@hover">
    <ToolBarContent>
        <MudText Typo="Typo.h6">counterpartylist</MudText>
        <MudToolBarSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>FirstName</MudTh>
        <MudTh>Ref</MudTh>
        <MudTh>EDRPOU</MudTh>
        <MudTh>City</MudTh>
        <MudTh>Description</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.FirstName</MudTd>
        <MudTd DataLabel="Sign">@context.Ref</MudTd>
        <MudTd DataLabel="Name">@context.EDRPOU</MudTd>
        <MudTd DataLabel="Position">@context.City</MudTd>
        <MudTd DataLabel="Molar mass">@context.Description</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
    </PagerContent>
</MudTable>
  
}

@code {
    private CounterpartyData[] counterpartylist;
    private bool hover = true;
    private HashSet<CounterpartyData> selectedItems = new HashSet<CounterpartyData>();
    private string searchString = "ЕТЦ";
    private MudTable<CounterpartyData> table;

    protected override async Task OnInitializedAsync()
    {
        // counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty");
        counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty");
    }
    protected  async Task OnSearch(string text)
    {
        searchString = text;
        counterpartylist = await Http.GetFromJsonAsync<CounterpartyData[]>("counterparty/"+text);
        //table.ReloadServerData();
    }

}

